[Unit]
Description=Keep a log of screenshots

[Service]
Type=simple
User=root
Group=root
ExecStart=/root/screen-log/screenshot.sh

[Install]
WantedBy=multi-user.target

